.rek-notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff !important;
  border: none !important;
  border-left: none !important;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.1);
  padding: 30px !important;
}

.rek-notice.notice-success {
  background-color: #fff !important;
}

.rek-notice .welcome-message {
  max-width: 650px;
}

.rek-notice .welcome-message h1 {
  font-size: 36px;
  font-weight: 600;
}

.rek-notice .welcome-message p {
  font-size: 14px;
}

.rek-notice .welcome-message .action-buttons {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 7px;
}

.rek-notice .welcome-message .action-buttons a {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 20px !important;
  border: 2px solid transparent;
  height: auto !important;
  background-color: #6A4BFF;
  color: #fff;
  box-shadow: none !important;
  vertical-align: middle;
}

.rek-notice .welcome-message .action-buttons a:last-child {
  margin-left: 0;
  padding: 7px 20px !important;
  background-color: transparent;
  border-color: #6A4BFF;
  color: #6A4BFF;
}

.rek-notice .welcome-message .action-buttons a:hover {
  background-color: #583ed7;
  color: #fff;
}

.rek-notice .welcome-message .action-buttons a:last-child:hover {
  background-color: #6A4BFF;
  color: #fff;
}

.rek-notice .welcome-message .action-buttons a .dashicons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  color: #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.rek-notice .welcome-message .action-buttons a:last-child .dashicons {
  color: #6A4BFF;
}

.rek-notice .welcome-message .action-buttons a:last-child:hover .dashicons {
  color: #fff;
}

.rek-notice .image-wrap {
  text-align: right;
}

.rek-notice .image-wrap img {
  display: inline-block;
  width: 500px;
}

@media screen and (max-width: 1366px) {
    .rek-notice .image-wrap img {
      max-width: 90%;
    }

  .rek-notice .welcome-message p {
    font-size: 13px;
  }
}

.dot-flashing {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: -1px;
  position: relative;
  width: 3px;
  height: 3px;
  border-radius: 10px;
  background-color: #3c434a;
  color: #3c434a;
  -webkit-animation: dotFlashing 1s infinite linear alternate;
          animation: dotFlashing 1s infinite linear alternate;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -6px;
  width: 3px;
  height: 3px;
  border-radius: 10px;
  background-color: #3c434a;
  color: #3c434a;
  -webkit-animation: dotFlashing 1s infinite alternate;
          animation: dotFlashing 1s infinite alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.dot-flashing::after {
  left: 6px;
  width: 3px;
  height: 3px;
  border-radius: 10px;
  background-color: #3c434a;
  color: #3c434a;
  -webkit-animation: dotFlashing 1s infinite alternate;
          animation: dotFlashing 1s infinite alternate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes dotFlashing {
  0% {
    background-color: #3c434a;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}

@keyframes dotFlashing {
  0% {
    background-color: #3c434a;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}

/*
** Admin Menu
*/
.rek-options-page .rek-notice {
  margin: 30px 30px 30px 10px;
}